<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mcdenny.agritunda">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/farmer_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/farmer_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:icon">
        <activity android:name="com.mcdenny.agritunda.admin.AdminViewOrders">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcdenny.agritunda.admin.AdminHomeActivity" />
        </activity>
        <activity android:name="com.mcdenny.agritunda.admin.AdminDistributorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcdenny.agritunda.admin.AdminHomeActivity" />
        </activity>
        <activity android:name="com.mcdenny.agritunda.admin.AdminFoodList">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcdenny.agritunda.admin.AdminHomeActivity" />
        </activity>
        <activity
            android:name="com.mcdenny.agritunda.admin.AdminHomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.mcdenny.agritunda.admin.AdminSignupActivity"
            android:theme="@style/WithNoActionBar">

        </activity>
        <activity
            android:name="com.mcdenny.agritunda.admin.AdminLoginActivity"
            android:theme="@style/WithNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.mcdenny.agritunda.user.SummaryActivity" />
        <activity android:name="com.mcdenny.agritunda.user.AddressActivity" />
        <activity
            android:name="com.mcdenny.agritunda.user.ProductList"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcdenny.agritunda.user.HomeActivity" />
        </activity>
        <activity
            android:name="com.mcdenny.agritunda.user.ProductDetail"
            android:theme="@style/WithNoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcdenny.agritunda.user.ProductList" />
        </activity>
        <activity
            android:name="com.mcdenny.agritunda.user.Cart"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcdenny.agritunda.user.ProductDetail" />
        </activity>
        <activity
            android:name="com.mcdenny.agritunda.user.OrderStatus"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcdenny.agritunda.user.MenuActivity" />
        </activity>
        <activity
            android:name="com.mcdenny.agritunda.user.DistributorList"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.mcdenny.agritunda.user.MenuActivity" />
        </activity>
    </application>

</manifest>